#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-parent {
  display: flex;
  gap: 13px;
  justify-content: center;
}

.container-proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 14px;
  row-gap: 14px;
}

.buttonsMenu {
  padding: 15px
}

.elegant-button {
  background-color: #4a90e2;
  /* Color principal */
  color: #ffffff;
  /* Texto blanco */
  font-size: 16px;
  font-weight: bold;
  padding: 8px 8px;
  /* Tamaño del botón */
  border: none;
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra */
  cursor: pointer;
  transition: all 0.3s ease;
  /* Animación suave */
}

.elegant-button:hover {
  background-color: #357ABD;
  /* Color más oscuro al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Incrementa la sombra */
  transform: translateY(-2px);
  /* Efecto de elevación */
}

.elegant-button:active {
  background-color: #2b5c91;
  /* Aún más oscuro al presionar */
  transform: translateY(0);
  /* Quita la elevación */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra original */
}

.buttons {
  margin: 12px auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.loading {
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-top: 5px solid red;
  border-left: 5px solid red;
  border-right: 4px solid silver;
  border-bottom: 5px solid red;
  animation: logo-spin infinite 2s linear;
}

@keyframes login-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}